* {
  margin: 0;
  padding: 0px; 
  /* 
  I am making the universal selector have true "reset css" properties, for debug purposes.
  before: padding: 15px;
  -nmw
  */
}
.maille-padding {
  padding:15px;
}

body {
  background-color: #954535;
}
h1 {
  text-align: center;
}

/* font styling for titles of pages */
.rubik-mono-one-regular {
  font-family: "Rubik Mono One", monospace;
  font-size: 40px;
  color: #eaddca;
  font-weight: 400;
  font-style: normal;
}

/* flexbox container */
.boxes {
  display: flex;
  flex-direction: row; 
  /* 
  this is being set to column for smaller screens. 
  see below for @import ... (max-width:800?px) {flex-direction:column;}
  -nmw
  */
  margin-top: 100px;
  height: auto;
}
/* individual flex */
.box {
  display:block;
  width: 30%;
  margin: 0.5%;
  min-height: 300px;
  color: #521f1f;
  padding: 10px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  background-color: #eaddca;
  border-radius: 5px;
  font-size: 17px;
}

/* NAVIGATION */
/* ul is for stacking <a>'s */
nav ul {
  width: 100%;
  height: 10%;
  list-style: none;
  text-align: center;
  background-color: #521f1f;
}
nav li {
  display: inline-block;
  position: relative;
}
nav a {
  color: #eaddca;
  text-decoration: none;
  font-size: 20px;
  padding: 1px;
  display: block;
}
nav {
  position: relative;
}

/* font styling for nav text */
.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.start:hover { /* the .start class is being used in the nav ul */
  transform: translateY(-0.25em); /* cool popping effect, thanks maille! -nmw */
  color: #f7dc6f;
  background-color: #781f1f;
  border: 1px solid #f7dc6f;
}
.ear { /* I can't what this is for. it doesn't matter much, I'd just like to know what to label it! -nmw */
  padding: 0;
}

#eventsDiv {
  display: block;
  height: 200px;
}
section {
  background-color: #eaddca;
  margin: 10px;
  border: 5px solid #781f1f;
  border-radius: 15px;
  
}
